body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    margin-bottom: 20px;
}

main {
    padding: 20px;
}
.card {
    transition: transform 0.1s ease;
}
.card-body .card-img-top{
    padding: 30%;
}
.card-body .card-title,.card-text {
    color: black;
}
.card:hover {
    transform: scale(1.05);
}
.card img:hover{
    transition: 1s;
    opacity: 20%;
}
.category-card img {
    margin: 50px 0;
}
/* CSS for animations */
.animated-text {
    animation: fadeInUp 1s ease-out;
}
.textStyle{
    color: black;
    text-decoration: none;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.product-image {
    max-width: 100%;
    border-radius: 5px;
}
.thumbnails img {
    max-width: 100px;
    margin: 5px 2px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.thumbnails img.active {
    border-color: #007bff;
}
.reveal {
    position: relative;
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active {
    opacity: 1;
}
.reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 5s ease;
}
.reveal.active::before {
    transform: scaleX(1);
    transform-origin: right;
}
.interactive-button {
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}
.interactive-button:hover {
    transform: scale(1.05);
}
.button-text, .button-arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}
.button-arrow {
    position: absolute;
    right: 20px;
    opacity: 0;
    transform: translateX(10px);
}
.interactive-button:hover .button-text {
    transform: translateX(-10px);
}
.interactive-button:hover .button-arrow {
    opacity: 1;
    transform: translateX(-90px);
}
.contact-option .btn{
    background-color: transparent;
    margin: 10px 0;
    border: none;
}
.contact-option .btn:hover{
    background-color: lightblue;
}
.feature-item {
    cursor: pointer;
}
.feature-item:hover {
    text-decoration: underline;
}


.category-card {
    transition: transform .3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.card-img-top {
    object-fit: cover;
    padding: 30%;
    opacity: 1;
    border-radius: 10px 10px 0 0;
}
.card-img-top:hover{
    padding: 20%;
    transition: 1s ease-in-out;
    opacity: 20%;
}
.btn-explore {
    transition: background-color 0.3s, transform 0.3s;
}
.btn-explore:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.btn-color{
    background-color: black;
}
.ntd{
    text-decoration: none;
}


.fashion-highlight {
    box-shadow: 0 4px 8px rgba(0,0,0,0);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.fashion-highlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0);
}
.home-highlight {
    box-shadow: 0 4px 8px rgba(0,0,0,0);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.home-highlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0);
}
.leisure-highlight {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.leisure-highlight:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.accordion-button {
    border-radius: 10px;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #332D2D;
    border-radius: 30px;
}